<a href="https://colab.research.google.com/github/VelociRoughtor/Mathematics-for-Machine-Learning-and-Data-Science-Specialization/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1 - Basics of NumPy**
---

**NumPy** (Numerical Python) is a Python library used for:

*   Efficient numerical operations on large data sets
*   Working with arrays and matrices
*   Providing mathematical functions (e.g., linear algebra, statistics)

### **1.1 - Installation**
---

```
pip install numpy
```

### **1.2 - Import**
---

In [1]:
import numpy as np

### **1.3 - Advantages of using NumPy arrays**
---

Arrays are the core data structure in NumPy, designed to store elements of the same type in a compact and efficient way. Unlike Python lists which takes more space and time, NumPy arrays (called **ndarray meaning 'n-dimentional array'**) are faster, more memory-efficient, and support a wide range of built-in functions for numerical operations.

A 1-D array is the simplest form, similar to a list, but optimized for high-performance computing.

**In NumPy, all of the elements within the array are of the same type.**

In [2]:
arr = np.array([10, 12])
print(arr)

[10 12]

### **1.4 - How to create NumPy arrays**
---

We can create a 1-D array by simply using the function `array()` which takes in a list of values as an argument and returns a 1-D array.

In [5]:
# Create and print a NumPy array 'a' containing the elements 1, 2, 3.
a = np.array([1, 2, 3])
print(a)

[1 2 3]

Another way to implement an array is using `np.arange()`. This function will return an array of evenly spaced values within a given interval.

In [4]:
# Create an array with 3 integers, starting from the default integer 0.
b = np.arange(3)
print(b)

[0 1 2]

In [7]:
# Create an array that starts from the integer 1, ends at 20, incremented by 3.
c = np.arange(1, 20, 3)
print(c)

[ 1  4  7 10 13 16 19]

In [11]:
val = np.arange(0, 100, 5)
print(val)

[ 0  5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]

### **Excercise**

> Create an array with five evenly spaced values in the interval from 0 to 100.

In [12]:
equally_spaced_array = np.linspace(0, 100, 5)
print(equally_spaced_array)

[  0.  25.  50.  75. 100.]

By default this function is of type ```float64```. So, we can specify its type using ```dtype``` parameter.



> dtype means data type

In [13]:
equally_spaced_array = np.linspace(0, 100, 5, dtype = int)
print(equally_spaced_array)

[  0  25  50  75 100]

In [14]:
c = np.arange(3, dtype = float)
print(c)

[0. 1. 2.]

In [15]:
char_arr = np.array(['Welcome to Math for ML!'])
print(char_arr)
print(char_arr.dtype) # Prints the data type of the array

['Welcome to Math for ML!']
<U23

> the output of the data type of the `char_arr `array is `<U23`? This means that the string `('Welcome to Math for ML!')` is a 23-character (23) unicode string (`U`) on a little-endian architecture (`<`).

### **1.5 - More on NumPy Arrays**
---

One of the advantages of using NumPy is that you can easily create arrays with built-in functions such as:

* `np.ones()` - Returns a new array setting values to one.
* `np.zeros()` - Returns a new array setting values to zero.
* `np.empty()` - Returns a new uninitialized array.
* `np.random.rand()` - Returns a new array with values chosen at random.

In [17]:
# Return a new array of shape 3, filled with ones.
ones = np.ones(3, dtype = int)
print(ones)

[1 1 1]

In [18]:
# Return a new array of shape 3, filled with zeros.
zeros = np.zeros(3, dtype = int)
print(zeros)

[0 0 0]

In [25]:
# Return a new array of shape 3, without initializing entries.
empty = np.empty(3)
print(empty)

[1. 1. 1.]

In [33]:
# Return a new array of shape 3 with random numbers between 0 and 1.
rand_arr = np.random.rand(3)
rand_arr = rand_arr * 100
rand_arr = rand_arr.astype(int)
print(rand_arr)

[58 84 90]

# **2 - Multidimensional Array**
---

With NumPy we can also create arrays with more than one dimension. In the above examples, we dealt with 1-D arrays, where we can access their elements using a single index. A multidimensional array has more than one column. Think of a multidimensional array as an excel sheet where each row/column represents a dimension.

![image.png]()

### **2.1 - Create Multidimensional Array**
---

In [34]:
# Create a 2 dimensional array
two_dim_arr = np.array([[1, 2, 3], [4, 5, 6]])
print(two_dim_arr)

[[1 2 3]
 [4 5 6]]

An alternative way to create a multidimensional array is by reshaping the initial 1-D array. Using `np.reshape()` you can rearrange elements of the previous array into a new shape.

In [37]:
# 1-D array
one_dim_arr = np.array([1, 2, 3, 4, 5, 6])

# Multidimensional array using reshape()
multi_dim_arr = np.reshape(
                one_dim_arr, # the array to be reshaped
               (2,3) # dimensions of the new array
              )
# Print the new 2-D array with two rows and three columns
print(multi_dim_arr)

[[1 2 3]
 [4 5 6]]

### **2.2 - Finding size, shape, and dimension**
---

* `ndarray.ndim` - Stores the number dimensions of the array.

* `ndarray.shape` - Stores the shape of the array. Each number in the tuple denotes the lengths of each corresponding dimension.
    
* `ndarray.size` - Stores the number of elements in the array.

In [38]:
# Dimension of the 2-D array
two_dim_arr.ndim

2

In [39]:
# Shape of the 2-D array
two_dim_arr.shape

(2, 3)

In [40]:
# Size of the 2-D array
two_dim_arr.size

6

# **3 - Array Math Operation**
---

### **3.1 - Basic algebraic operation**
---

NumPy allows you to quickly perform elementwise addition, substraction, multiplication and division for both 1-D and multidimensional arrays. The operations are performed using the math symbol for each '+', '-' and '*'. Recall that addition of Python lists works completely differently as it would append the lists, thus making a longer list, in addition, subtraction and multiplication of Python lists do not work.

In [43]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])

# Addition
addition = arr1 + arr2
print(addition)

# Subtraction
subtraction = arr1 - arr2
print(subtraction)

# Multiplication
multiplication = arr1 * arr2
print(multiplication)

# Division
division = arr1 / arr2
print(division)

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]

### **3.2 - Multiplying vector with a scalar (broadcasting)**
---

Suppose we need to convert miles to kilometers. To do so, we can use the NumPy array functions that we've learned so far. You can do this by carrying out an operation between an array (miles) and a single number (the conversion rate which is a scalar). Since, 1 mile = 1.6 km, NumPy computes each multiplication within each cell.

This concept is called **broadcasting**, which allows you to perform operations specifically on arrays of different shapes.

In [45]:
vector = np.array([1, 2])
vector = vector * 1.6
print(vector)

[1.6 3.2]

### **4 - Indexing and slicing**
---

Indexing is very useful as it allows us to select specific elements from an array. It also lets us select entire rows/columns for multidimensional arrays.

### **4.1 - Indexing**
---

In [46]:
# Select the third element of the array.
a = np.array([1, 2, 3, 4, 5])
print(a[2])

3

For multidimensional arrays of shape `n`, to index a specific element, you must input `n` indices, one for each dimension.

In [50]:
b = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
)
print(b[1, 2])
print(b[2][0])

6
7

### **4.2 - Slicing**
---

Slicing gives us a sublist of elements that we specify from the array. The slice notation specifies a start and end value, and copies the list from start up to but not including the end (end-exclusive).

The syntax is:

`array[start:end:step]`

> If no value is passed to start, it is assumed start = 0.

> If no value is passed to end, it is assumed that end = length of array - 1.

> If no value is passed to step, it is assumed step = 1.

In [51]:
# Slice the array a to get the sub-array [2, 3, 4]
slice1 = a[1 : 4]
print(slice1)

[2 3 4]

In [52]:
# Slice the array a to get the sub-array [1, 2, 3]
slice2 = a[: 3]
print(slice2)

[1 2 3]

In [53]:
# Slice the array a to get the sub-array [3, 4, 5]
slice3 = a[2 :]
print(slice3)

[3 4 5]

In [54]:
# Slice the arrat to get the sub-array [1, 3, 5]
slice4 = a[:: 2]
print(slice4)

[1 3 5]

##### **Note that a == a[:] == a[::]**

In [58]:
# Slice the 2-D array b to get the first two rows
sliced1 = b[: 2]
print(sliced1)

[[1 2 3]
 [4 5 6]]

In [59]:
# Slice the 2-D array b to get the last two rows
sliced2 = b[1 :]
print(sliced2)

[[4 5 6]
 [7 8 9]]

In [60]:
# Second column
print(b[:, 1])

[2 5 8]

# **5 - Stacking**
---

Finally, stacking is a feature of NumPy that leads to increased customization of arrays. It means to join two or more arrays, either horizontally or vertically, meaning that it is done along a new axis.

> `np.vstack()` - stacks vertically
    
> `np.hstack()` - stacks horizontally
    
> `np.hsplit()` - splits an array into several smaller arrays

In [63]:
a1 = np.array([[1, 1], [2, 2]])
a2 = np.array([[3, 3], [4, 4]])

print(f'a1: \n{a1}')
print(f'a2: \n{a2}')

a1:
[[1 1]
 [2 2]]
a2:
[[3 3]
 [4 4]]

In [64]:
# Stack the arrays vertically
vert_stack = np.vstack((a1, a2))
print(vert_stack)

[[1 1]
 [2 2]
 [3 3]
 [4 4]]

In [65]:
# Stack the arrays horizontally
horz_stack = np.hstack((a1, a2))
print(horz_stack)

[[1 1 3 3]
 [2 2 4 4]]